<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.android.systemui.overlay.oneplus6"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="com.android.systemui"
                android:requiredSystemPropertyName="ro.product.vendor.device"
                android:requiredSystemPropertyValue="OnePlus6"
		android:priority="800"
		android:isStatic="true" />
</manifest>
